* {
  margin: 0;
  padding: 0;
  list-style: none;
  vertical-align: top;
  box-sizing: border-box;
}
html,body {
  height: 100%;
  width: 100%;  
}
.font-describe {
  font-size: 14px;
  color: #969696;
}
.page-jianshu {
  width: 100%;
  height: auto;
  position: relative;
}
/* --------------header-start------------------ */
.header {
  height: 58px;
  border-bottom: 1px solid #F0F0F0;
  width: 100%;
  /* background-color: red; */
  position: fixed;
  top: 0;
}
.nav-in {
  width: 1408px;
  height: 100%;
  /* background-color: pink; */
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.logo {
  height: 100%;
  width: 233px;
  /* background-color: yellow; */
  background-image: url(../images/nav-logo-4c7bbafe27adc892f3046e6978459bac.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.nav-center {
  height: 100%;
  width: 945px;
  /* background-color: red; */

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-right {
  font-size: 18px;  
  color: #969696
}
.nav-right span {
  margin-left: 30px;
}
.nav-left {
  font-size: 20px;
  display: flex;
  align-items: center;
}
.nav-left span:first-child {
  color: #EC6149;
}
input[type="search"] {
  height: 40px;
  width: 240px;
  border-radius: 20px;
  font-size: 16px;
  padding: 20px;
  border: none;
  background-color: #EEEEEE;
}
.nav-left span {
  margin-right: 45px;
}
.login-write {
  height: 100%;
  width: 233px;
  /* background-color: blue; */
  display: flex;
  align-items: center;
  padding-left: 40px;
}
.login-write button {
  border: none;
  border-radius: 49px;
  height: 40px;
  display: inline-block;
  /* background-color: pink; */
  font-size: 16px;
  margin-right: 20px;
}
.login-write button:first-child {
  width: 80px;
  border: 1px solid #EC6149;
  background-color: #fff;
  color: #EC6149;
}
.login-write button:last-child {
  width: 100px;
  background-color: #EC6149;
  color: #fff;
}
/* --------------header-end------------------ */
/* --------------main-start------------------ */
.main {
  width: 100%;
  margin-top: 58px;
  padding-top: 32px;
  height: auto;
  /* background-color: rgb(121, 115, 115); */
}
.main-in {
  width: 945px;
  /* background-color: rgb(172, 206, 141); */
  height: 900px;
  margin: 0 auto;
}
.news {
  width: 625px;
  height: 850px;
  /* background-color: rgb(228, 162, 162); */
  float: left;
}
.new-paper{
  height: 270px;
  width: 100%;
  /* background-color: blue; */
  margin-bottom: 14px;
  background: url(../images/new-paper.jpg) ;
  background-size: cover;
}
.new-list {
  /* background-color: rgb(233, 206, 149); */
  width: 100%;
  height: 500px;
}
.list-1 {
  background-color: #fff;
  padding-top: 20px;
  border-bottom: 1px solid #F0F0F0;
}
.list-1 p {
  margin: 15px 0 ;
}
.more-news {
  height: 40px;
  width: 100%;
  background-color: #9B9B9B;
  text-align: center;
  line-height: 40px;
  color: #fff;
  border-radius: 20px;
}
.aside {
  width: 280px;
  height: auto;
  /* background-color: rgb(65, 206, 147); */
  float: right;
}
.navigation {
  /* background-color: #fff; */
  margin-top: -4px;
}
.navigation li {
  margin-bottom: 10px;
}
.navigation li img {
  width: 100%;
}
.download-app {
  width: 100%;
  height: 82px;
  border: 1px solid #DCDCDC;
  /* background-color: rgb(231, 218, 218); */
  display: flex;
  align-items: center;
  justify-content: center;
}
.download-app img[alt="download-code"] {
  width: 60px;
  height: 60px;
}
.download-btn {
  background-color: #fff;
  display: inline-block;
  margin-left: 14px;
}
.writer-list {
  height: 380px;
  width: 100%;
  /* background-color: rgb(219, 202, 202); */
}
.refresh-writer {
  height: 49px;
  /* background-color: rgb(219, 159, 159); */
  line-height: 49px;
  margin-top: 15px;
}
.refresh-btn {
  float: right;
}
.writer-list-main img[alt="writer-img"]{
  width: 48px;
  height: 48px;
  border-radius: 50%;
}
.writer-list-main li {
  /* border: 1px solid; */
  margin-bottom: 12px;
}
.writer-list-main li > span {
  display: inline-block;
  /* background-color: #fff; */
  height: 48px;
  line-height: 23px;  
}
.writer-list-main li > span a {
  text-decoration: none;
  color: #333
}
.writer-list-main li a:last-child {
  float: right;
  text-decoration: none;
  color:#42c02e
}
.writer-describe {
  display: inline-block;
}
.more-writer {
  border: 1px solid #DCDCDC;
  height: 35px;
  width: 100%;
  background-color: #F7F7F7;
}
/* --------------main-end------------------ */
/* --------------footer-strat------------------ */
footer {
  margin: 20px 0;
}
.footer-in {
  width: 945px;
  /* background-color: rgb(164, 164, 206); */
  margin: 0 auto;
}
.footer-in p:first-child a {
  color: #969696;
  text-decoration: none;
  font-size: 13px;
}
.copy-right {
  color: #c8c8c8;
  margin: 16px 0;
  font-size: 12px;
}
img[alt="fanzha"] {
  margin-top: -7px;
  height: 40px; 
}
img[alt="wxb"] {
  margin-top: -5px;
}
img[alt="Zggsrz"] {
  margin-top: -7px;
  height: 40px; 
}
/* --------------footer-end------------------ */